
.DS_Store
demo/module11.ipynb
hw/.DS_Store
hw/hw09/tests/q1_3.py
hw/hw10/autograder.zip
hw/hw10/btc.csv
hw/hw10/eth.csv
hw/hw10/hw10.ipynb
hw/hw10/spreads.csv
hw/hw10/tests/q1_4.py
hw/hw10/tests/q2_2.py
hw/hw10/tests/q2_3.py
hw/hw10/tests/q2_6.py
hw/hw10/tests/q3_2.py
hw/hw10/tests/q3_3.py
hw/hw10/tests/q3_4.py
hw/hw10/tests/q3_5.py
hw/hw10/tests/q3_6.py
hw/hw10/tests/q3_7.py
hw/hw10/triple_vertical.csv
lab/.DS_Store
lab/lab12/faithful.csv
lab/lab12/lab12.ipynb
lab/lab12/tests/q2_1.py
lab/lab12/tests/q3_1.py
lab/lab12/tests/q3_2.py
lab/lab12/tests/q3_3.py
lab/lab12/tests/q4_1.py
lab/lab12/tests/q5_1.py
lab/lab12/tests/q5_2.py
lab/lab12/tests/q5_3.py
hw/hw10/tests/q1_3.py
lab/.DS_Store
hw/.DS_Store
.DS_Store
