
hw/hw09/.ipynb_checkpoints/hw09-checkpoint.ipynb
hw/hw09/autograder.zip
hw/hw09/hw09.ipynb
hw/hw09/restaurant_inspection_scores.csv
hw/hw09/tests/q1_3.py
hw/hw09/tests/q2_3.py
hw/hw09/tests/q2_4.py
hw/hw09/tests/q3_1.py
hw/hw09/tests/q3_2.py
hw/hw09/tests/q3_4.py
hw/hw09/tests/q3_5.py
hw/hw09/tests/q3_6.py
hw/hw09/tests/q3_7.py
hw/hw09/tests/q3_8.py
hw/hw09/united_summer2015.csv
lab/.DS_Store
lab/lab10/.DS_Store
lab/lab11/faithful.csv
lab/lab11/lab11.ipynb
lab/lab11/sf_salaries_2014.csv
lab/lab11/tests/q1_2.py
lab/lab11/tests/q1_4.py
lab/lab11/tests/q1_5.py
lab/lab11/tests/q2_3.py
lab/lab11/tests/q2_4.py
